extends layout

block content
  div.container
    ul.collection
      li.collection-item.avatar
        img.circle(src='images/avatars/bobby_600px.jpg' alt='')
        span.title Title
        p First Line
        p Second Line
      li.collection-item.avatar
        img.circle(src='images/avatars/bobby_600px.jpg' alt='')
        span.title Title
        p First Line
        p Second Line
